<div class="jumbotron">
  <h1>Shop</h1>
  <% if @items.length>0 %>
  <%= image_tag @items[-1].image.url(:medium) %>
  <% end %>
  <p>With Christmas just around the corner grab your favourite Sean related item today...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Buy</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <% @items.any? %>
    <% @items.each do |item| %>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-panel">
                <%= image_tag item.image.url(:grid), class: "image-image" %>
              </div>
            </div>
            <div class="panel-footer">
              <%= item.name %>
              £<%= item.price %>
              <%= item.description %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
