
<div id='map'>
<script>
	var map;
	$(document).ready(function(){
		map = new GMaps({
	  	div: '#map',
	  	lat: 54,
	  	lng: -2.5,
	  	zoom: 5,
	  	// disableDefaultUI: true,
	  	zoomControl: true,
	  	zoomControlOpt: {
	  		position: 'LEFT_CENTER'
	  	},
	  	panControl: false,
	  	streetViewControl: false,
		  scaleControl: false,
		  scrollwheel: false,
		  disableDoubleClickZoom: false,
		  mapTypeControl: false
	  });


	});

</script>
</div>
<section class="window">
<a id="recent-sightings"></a>
<div class="spacer"></div>
<h2>Recent Sightings:</h2>

<div class="container-fluid">
  <div class="row">
  	<% if @sightings.any? %>
    <% @sightings = @sightings[(-4..-1)] if @sightings.length > 3 %>
    <% @sightings.reverse.each do |sighting| %>
      <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-footer">
              <div class="recent-image">
              	<%= image_tag sighting.image.url(:thumb) %>
              </div>
              <div class="recent-info">
              <p>Sighting: <%= sighting.caption %></p>
							<p>Location: <%= sighting.location %></p>
							<p>Date: <%= date_format(sighting.seen_at) %></p>
							<% if user_signed_in? && !find_likes(sighting).include?(current_user.id)%>
								<span class='likes_count'><%= sighting.likes.count %></span>&nbsp;likes
								<%= link_to 'Like', sighting_likes_path(sighting), class: 'likes_link' %>
							<% end %>
							<% if user_signed_in? && find_likes(sighting).include?(current_user.id)%>
								<p><%= sighting.likes.count %> likes</p>
								<p>You liked this sighting didn't you!</p>
							<% end %>
							</div>
            </div>
          </div>
        </div>
    <% end %>
    <% end %>
  </div>
</div>
<h2>Weather Report:</h2>
<p>Sean's Jumper has travelled far and wide. In its travels it has become accustomed to many different weather conditions. Currently, the weather report at the most recent sighting is:</p>
<h3>ENTER WEATHER API REPORT HERE</h3>


</section>
<section class="window about">
<a id='about'></a>
	<div class="spacer"></div>
<h2 class="about_header">About</h2>
<ul>
	<h4>The Story</h4>
		<p>A few weeks ago, our dear friend Sean Stevens misplaced his favourite jumper. Rumours have been circulating that it has been seen across the country.</p>
	<h4>The Project</h4>
		<p>This website is dedicated to helping Sean find his lost jumper, please report any sightings of the jumper by <a href="/sightings/new">reporting a sighting</a></p>
<h2>The Team</h2>
</br>
	<div class="team-pictures">


		<div id="camilla">
			<div class='profile-pic-box'><a href="https://github.com/camillavk" target="_blank"><img src="images/camilla.jpeg" class="img-circle team_pic"></a></div>
			<div class='profile-text'>Camilla's profile text and details.</div>
		</div>
		<div id="craig">
			<div class='profile-pic-box'><a href="https://github.com/craigh44" target="_blank"><img src="images/craig.jpeg" class="img-circle team_pic"></a></div>
			<div class='profile-text'>Craig's profile text and details.</div>
		</div>
		<div id="nicole">
			<div class='profile-pic-box'><a href="https://github.com/nicolepell" target="_blank"><img src="images/nicole.png" class="img-circle team_pic"></a></div>
			<div class='profile-text'>Nicole's profile text and details.</div>
		</div>
		<div id="steve">
			<div class='profile-pic-box'><a href="https://github.com/hatstephens" target="_blank"><img src="images/steve.jpeg" class="img-circle team_pic"></a></div>
			<div class='profile-text'>Steve's profile text and details.</div>
			<div>

</div>
</section>

<footer class="footer">
&copy; Jumparound
	</footer>

<% if @sightings.any? %>
	<% @sightings.each do |sighting| %>


		<%= javascript_tag do %>
			$(document).ready(function(){
				map.addMarker({
	  			lat: <%= sighting.latitude %>,
				  lng: <%= sighting.longitude %>,
				  title: "Jumper?",
				  icon: "images/seanpin1_small.png",
	  			infoWindow: {content: '<%= sighting.caption %><br/><%= image_tag sighting.image.url(:medium) %><br/><%= sighting.location %><br/><%= date_format(sighting.seen_at) %><br/><p>Likes:&nbsp<%= sighting.likes.count %>'},
				  click: function(e) {
	  			}
				});
			});
		<% end %>
	<% end %>
<% else %>
	<h1> Sean's jumper is nowhere to be seen! </h1>
<% end %>
