<div id='map'></div>
<script>
	var map;
	$(document).ready(function(){
		map = new GMaps({
	  	div: '#map',
	  	lat: 54,
	  	lng: -2.5,
	  	zoom: 5,
	  	// disableDefaultUI: true,
	  	zoomControl: true,
	  	zoomControlOpt: {
	  		position: 'LEFT_CENTER'
	  	},
	  	panControl: false,
	  	streetViewControl: false,
		  scaleControl: false,
		  scrollwheel: false,
		  disableDoubleClickZoom: false
	  });


	});

</script>

<% if @sightings.any? %>
	<% @sightings.each do |sighting| %>
		<p>Sighting: <%= sighting.caption %></p>
		<p>Location: <%= sighting.location %></p>
		<p>Date: <%= sighting.seen_at %></p>

		<%= javascript_tag do %>
			$(document).ready(function(){
				map.addMarker({
	  			lat: <%= sighting.latitude %>,
				  lng: <%= sighting.longitude %>,
				  title: "Jumper?",
				  icon: "images/sean.png",
	  			infoWindow: {content: '<%= sighting.caption %><br/><%= image_tag sighting.image.url(:medium) %><br/><%= sighting.location %><br/><%= sighting.seen_at %>'},
				  click: function(e) {
	  			}
				});
			});
		<% end %>

	<% end %>
<% else %>
	<h1> Sean's jumper is nowhere to be seen! </h1>
<% end %>

<%= link_to 'Submit New Sighting', new_sighting_path %>
