<div class="jumbotron">
  <h1>Gallery</h1>
  <%= image_tag @sightings[-1].image.url(:medium) %>
  <p>Browse your favourite shots of Sean's jumper</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Buy</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <% @sightings.any? %>
    <% @sightings.each do |sighting| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-image">
              <%= image_tag sighting.image.url(:grid), class: "image-image" %>
            </div>
          </div>
          <div class="panel-footer">
            <p>Sighting: <%= sighting.caption %></p>
            <p>Location: <%= sighting.location %></p>
            <p>Date: <%= sighting.seen_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
