<div class="jumbotron">
  <div class="title">
    <h1>Gallery</h1>
    <p>Most liked sighting:</p>
  </div>
  <div class="liked">
    <% if @sightings.any? %>
    <div class="liked-image">
      <%= image_tag most_likes(@sightings).image.url(:grid) %>
    </div>
    <div class="liked-description">
      <p>Sighting: <%= most_likes(@sightings).caption %></p>
      <p>Location: <%= most_likes(@sightings).location %></p>
      <p>Date: <%= most_likes(@sightings).seen_at %></p>
    </div>
    <% end %>
  </div>
</div>

<h2>Browse your favourite shots of Sean's jumper</h2>

<div class="container-fluid">
  <div class="row">
    <% @sightings.any? %>
    <% @sightings.each do |sighting| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-image">
              <%= image_tag sighting.image.url(:grid), class: "image-image" %>
            </div>
          </div>
          <div class="panel-footer">
            <p>Sighting: <%= sighting.caption %></p>
            <p>Location: <%= sighting.location %></p>
            <p>Date: <%= sighting.seen_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
